@import "abstracts/variables";
@import "abstracts/functions";
@import "abstracts/mixins";
@import "base/typography";
@import "pages/header";

section {
  +section {
    +section {
      background-color: #fff;
      height: 100vh;
      color: $color-red;
      background: linear-gradient(45deg, #f44336, #413bff);
      color: #fff;
      text-align: center;
      color: #ffffff;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}